.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    display: grid;
    place-content: center;
    border:

}

.overlay::after {
    content: "X";
    color: #FFFF;
    background-color: black;
    text-align: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    border-color: white;
    border: solid;
    font-family: sans-serif;
    line-height: 2rem;
    display: block;
    border-radius: 50%;

}

.overlay>figure {
    margin: 0;
    padding: 1rem;
    border: solid, 2px;
    border-color: #FFFF;
    /* No margin */
    /* 1rem padding */
    /* White border of 2px */
}

.overlay>figure>img {
    width: 100%;
    height: auto;

}